<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
    <a href="{{ site.baseurl }}" class="image avatar"><img src="/public/css/images/ManuS.jpg" alt="" /></a>
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="/">Home</a>
      <a class="sidebar-nav-item{% if page.url == "/about.html" %} active{% endif %}" href="/about.html">About me</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}">Portfolio</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}">Contact me</a>
      <div class="icons">
        <a  href="https://github.com/{{ site.github_username }}" target="blank"><i class="icon fa fa-github"></i></a>
        <a  href="https://www.twitter.com/{{ site.twitter_username }}" target="blank"><i class="icon fa fa-twitter"></i></a>
        <a  href="https://www.facebook.com/{{ site.facebook_username }}" target="blank"><i class="icon fa fa-facebook"></i></a>
        <a  href="mailto:{{ site.email }}"><i class="icon fa fa-envelope-o"></i></a>
        <a  href="{{ site.url}}/feed.xml" target="blank"><i class="icon fa fa-rss"></i></a>
      </div>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
