<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

	<a class="sidebar-nav-item{% if page.url == "/about/" %} active{% endif %}" href="/about/">About me</a>
	<a class="sidebar-nav-item{% if page.url == "/portfolio/" %} active{% endif %}" href="/portfolio/">Portfolio</a>
	<a class="sidebar-nav-item{% if page.url == "/contact/" %} active{% endif %}" href="/contact/">Contact me</a>
	<div class="icons">
		<a  href="https://github.com/{{ site.github_username }}" target="blank"><i class="icon fa fa-github"></i></a>
		<a  href="https://www.twitter.com/{{ site.twitter_username }}" target="blank"><i class="icon fa fa-twitter"></i></a>
		<a  href="https://www.facebook.com/{{ site.facebook_username }}" target="blank"><i class="icon fa fa-facebook"></i></a>
		<a  href="mailto:{{ site.email }}"><i class="icon fa fa-envelope-o"></i></a>
		<a  href="{{ site.url}}/feed.xml" target="blank"><i class="icon fa fa-rss"></i></a>
    </div>
	
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
